<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Scores</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/scores.css">
    <script src="/js/baseball.js" defer></script>
    <style>
        div.info {border-style: solid;}
    </style>
</head>
<body>
    <div class="nav">
        <a class="active" href="/home">Home</a>
        <a href="/football/aboutFootball.html">Football</a>
        <a href="/basketball/basketball.html">Basketball</a>
        <a href="/baseball/aboutBaseball.html">Baseball</a>
        <a href="/messaging/messages.html">Messages</a>
        <a href="/profile.html">Profile</a>
    </div>
    <div class="baseballNav">
        <a class="baseball" href="/baseball/aboutBaseball.html">About Baseball</a>
        <a href="/baseball/scores">Check Scores</a>
        <a href="/baseball/baLiveChat/liveChatEntry.html">Live Chat</a>
    </div>
    <div id="Wrapper">
        <div id="Week">
            <p>Sort By Week:</p>
            <form id="weekChoiceB">
                <label for="week"></label>
                <select name="weeks" id="weekB">
                    <option value="Week 1">Week 1</option>
                    <option value="Week 2">Week 2</option>
                    <option value="Week 3">Week 3</option>
                    <option value="Week 4">Week 4</option>
                    <option value="Week 5">Week 5</option>
                    <option value="Week 6">Week 6</option>
                    <option value="Week 7">Week 7</option>
                    <option value="Week 8">Week 8</option>
                    <option value="Week 9">Week 9</option>
                    <option value="Week 10">Week 10</option>
                    <option value="Week 11">Week 11</option>
                    <option value="Week 12">Week 12</option>
                    <option value="Week 13">Week 13</option>
                    <option value="Week 14">Week 14</option>
                    <option value="Week 15">Week 15</option>
                    <option value="Week 16">Week 16</option>
                    <option value="Week 17">Week 17</option>
                    <option value="Week 18">Week 18</option>
                    <option value="Week 19">Week 19</option>
                    <option value="Week 20">Week 20</option>
                    <option value="Week 21">Week 21</option>
                    <option value="Week 22">Week 22</option>
                    <option value="Week 23">Week 23</option>
                    <option value="Week 24">Week 24</option>
                    <option value="Week 25">Week 25</option>
                    <option value="Week 26">Week 26</option>
                </select>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div id="Team">
            <p>Sort By Team:</p>
            <form id="teamChoiceB">
                <label for="teamB"></label>
                <select name="teamB" id="teamB">
                    <option value="1">Baltimore Orioles</option>
                    <option value="2">Boston Red Sox</option>
                    <option value="3">Los Angeles Angels</option>
                    <option value="4">Chicago White Sox</option>
                    <option value="5">Cleveland Guardians</option> 
                    <option value="6">Detroit Tigers</option> 
                    <option value="7">Kansas City Royals</option> 
                    <option value="8">Milwaukee Brewers</option>
                    <option value="9">Minnesota Twins</option> 
                    <option value="10">New York Yankees</option> 
                    <option value="11">Oakland Athletics</option>
                    <option value="12">Seattle Mariners</option>
                    <option value="13">Texas Rangers</option>
                    <option value="14">Toronto Blue Jays</option>
                    <option value="15">Atlanta Braves</option>
                    <option value="16">Chicago Cubs</option>
                    <option value="17">Cincinnati Reds</option>
                    <option value="18">Houston Astros</option>
                    <option value="19">Los Angeles Dodgers</option>
                    <option value="20">Washington Nationals</option>
                    <option value="21">New York Mets</option>
                    <option value="22">Philadelphia Phillies</option>
                    <option value="23">Pittsburgh Pirates</option>
                    <option value="24">St. Louis Cardinals</option>
                    <option value="25">San Diego Padres</option>
                    <option value="26">San Francisco Giants</option>
                    <option value="27">Colorado Rockies</option>
                    <option value="28">Miami Marlins</option>
                    <option value="29">Arizona Diamondbacks</option>
                    <option value="30">Tampa Bay Rays</option> 
                </select>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <ul class="weeksContainer">
        <% for ( const team of teams ) { %>
            <% if (team.teamid == teams[0].teamid){ %>
                <li>
                    <div class="info">
                        <p>
                            <%= team.week %>
                        </p>
                        <p>
                            <img src="<%= team.logo %>" alt="<%= team.teamname %> logo"
                            width="25"
                            height="25" />
                            <%= team.teamname %>
                            (
                            <%= team.record %>
                            )
                            <% if (team.visitStatus === "home") { %>
                                - At Home
                            <% } else { %>
                                    - Away
                            <% } %>
                            <%= team.score %>
                            <% if (team.winStatus == "true") { %>
                                - W
                           <% } else { %>
                               - L
                           <% } %>
                        </p>
                        <p>
                            <% for (let i = 12; i < teams.length; i++){ %>
                                <% if (team.opponentid == teams[i].teamid && team.week == teams[i].week){ %>
                                    <img src="<%= teams[i].logo %>" alt="<%= teams[i].teamname %> logo"
                                    width="25"
                                    height="25" />
                                    <%= teams[i].teamname %>
                                    (
                                    <%= teams[i].record %>
                                    )
                                    <% if (teams[i].visitStatus === "home") { %>
                                        - At Home
                                    <% } else { %>
                                            - Away
                                    <% } %>
                                    <%= teams[i].score %>
                                    <% if (teams[i].winStatus == "true") { %>
                                        - W
                                   <% } else { %>
                                       - L
                                   <% } %>
                                <% } %>
                            <% } %>
                        </p>
                    </div>
                </li>
            <% } %>
        <% } %>
    </ul>
</body>
</html>