<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Scores</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/scores.css">
    <script src="/js/basketball.js" defer></script>
    <style>
        div.info {border-style: solid;}
    </style>
</head>
<body>
    <div class="nav">
        <a class="active" href="/home">Home</a>
        <a href="/football/aboutFootball.html">Football</a>
        <a href="/basketball/basketball.html">Basketball</a>
        <a href="/baseball/aboutBaseball.html">Baseball</a>
        <a href="/messaging/messages.html">Messages</a>
        <a href="/profile.html">Profile</a>
    </div>
    <div class="basketballNav">
        <a class="basketball" href="/basketball/aboutBasketball.html">About Basketball</a>
        <a href="/basketball/scores">Check Scores</a>
        <a href="/basketball/bbLiveChat/liveChatEntry.html">Live Chat</a>
    </div>
    <div id="Wrapper">
        <div id="Week">
            <p>Sort By Week:</p>
            <form id="weekChoice">
                <label for="week"></label>
                <select name="weeks" id="week">
                    <option value="Week 1">Week 1</option>
                    <option value="Week 2">Week 2</option>
                    <option value="Week 3">Week 3</option>
                    <option value="Week 4">Week 4</option>
                    <option value="Week 5">Week 5</option>
                    <option value="Week 6">Week 6</option>
                    <option value="Week 7">Week 7</option>
                    <option value="Week 8">Week 8</option>
                    <option value="Week 9">Week 9</option>
                    <option value="Week 10">Week 10</option>
                    <option value="Week 11">Week 11</option>
                    <option value="Week 12">Week 12</option>
                    <option value="Week 13">Week 13</option>
                    <option value="Week 14">Week 14</option>
                    <option value="Week 15">Week 15</option>
                    <option value="Week 16">Week 16</option>
                    <option value="Week 17">Week 17</option>
                </select>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div id="Team">
            <p>Sort By Team:</p>
            <form id="teamChoice">
                <label for="team"></label>
                <select name="team" id="team">
                    <option value="1">Atlanta Hawks</option>
                    <option value="2">Boston Celtics</option>
                    <option value="3">New Orleans Pelicans</option>
                    <option value="7">Denver Nuggets</option>
                    <option value="5">Cleveland Cavaliers</option>
                    <option value="27">Washington Wizards</option>
                    <option value="22">Portland Trail Blazers</option>
                    <option value="19">Orlando Magic</option>
                    <option value="11">Indiana Pacers</option>
                    <option value="28">Toronto Raptors</option>
                    <option value="6">Dallas Mavericks</option>
                    <option value="15">Milwaukee Bucks</option>
                    <option value="21">Phoenix Suns</option>
                    <option value="25">Oklahoma City Thunder</option>
                    <option value="30">Charlotte Hornets</option>
                    <option value="20">Philadelphia 76ers</option>
                    <option value="8">Detroit Pistons</option>
                    <option value="9">Golden State Warriors</option>
                    <option value="29">Memphis Grizzlies</option>
                    <option value="12">L.A. Clippers</option>
                    <option value="17">Brooklyn Nets</option>
                    <option value="13">L.A. Lakers</option>
                    <option value="14">Miami Heat</option>
                    <option value="18">New York Knicks</option>
                    <option value="26">Utah Jazz</option>
                    <option value="23">Sacramento Kings</option>
                    <option value="10">Houston Rockets</option>
                    <option value="16">Minnesota Timberwolves</option>
                    <option value="4">Chicago Bulls</option>
                    <option value="24">San Antonio Spurs</option>
                </select>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <ul class="scoresContainer">
        <% for ( const team of teams ) { %>
            <% if (team.teamid > team.opponentid){ %>
                <% if (team.opponentid != 12 && team.opponentid != 24){ %>
                    <li>
                        <div class="info">
                            <p>
                                <img src="<%= team.logo %>" alt="<%= team.name %> logo"
                                width="25"
                                height="25" />
                                <%= team.teamname %>
                                (
                                <%= team.record %>
                                )
                                <% if (team.visitStatus === "home") { %>
                                    - At Home
                                <% } else { %>
                                        - Away
                                <% } %>
                                <%= team.score %>
                                <% if (team.winStatus == "true") { %>
                                     - W
                                <% } else { %>
                                    - L
                                <% } %>
                            </p>
                            <p>
                                <% if (team.opponentid != 12 && team.opponentid != 24){ %>
                                    <% for (let i = 0; i < teams.length; i++){ %>
                                        <% if (team.opponentid == teams[i].teamid){ %>
                                            <img src="<%= teams[i].logo %>" alt="<%= team.name %> logo"
                                            width="25"
                                            height="25" />
                                            <%= teams[i].teamname %>
                                            (
                                            <%= teams[i].record %>
                                            )
                                            <% if (teams[i].visitStatus === "home") { %>
                                                - At Home
                                            <% } else { %>
                                                    - Away
                                            <% } %>
                                            <%= teams[i].score %>
                                            <% if (teams[i].winStatus == "true") { %>
                                                 - W
                                            <% } else { %>
                                                - L
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </p>
                        </div>
                    </li>
                <% } %>
            <% } %>
        <% } %>
    </ul>
</body>
</html>